<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639255741833-t9ua2f4ehn0rh8dq8su3m0ovk2prqgbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639255741833-t9ua2f4ehn0rh8dq8su3m0ovk2prqgbb</string>
	<key>API_KEY</key>
	<string>AIzaSyCX5ggT-Ehu8XctsTVZQ0cgNOq1RiJXr4c</string>
	<key>GCM_SENDER_ID</key>
	<string>639255741833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itiGraduationProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iti-summer-training</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-summer-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639255741833:ios:5e0042814752d5f6fdcd58</string>
</dict>
</plist>